{% extends "template.html" %}

{% block content %}

<div class="row">
  <div class="col-md-4">
    <main class="form-signin w-100 m-auto">
      <form role="form2" method="post" action="/decrypt">
        <div class="form-floating">
          <label for="encryptedTextD">Encrypted Text</label>
          <input type="password" id="encryptedTextD" name="encryptedTextD" placeholder="Add text" class="form-control mb-2">
          <button id="rightButton" class="btn btn-sm btn-primary" type="submit">Decrypt</button>
        </div>
          
        <div class="form-floating">
          <label for="password" style="margin-top: 12px">Decrypted Text</label>
          <input type="text" id="decryptedText" name="password" class="form-control mb-4" value="{{ decrypted_text }}" disabled>
        </div>
      </form>
    </main>
  </div>
</div>
<div class="Decryption-page"></div>
{% endblock %}