{% extends "template.html" %}

{% block custom_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom_style.css') }}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2 class="text-center mb-4">Encrypt Your Text</h2>
            <div class="card">
                <div class="card-body">
                    <form method="post" action="/encrypt">
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="passwordTextE" name="passwordTextE" placeholder="Password Text" style="height: 100px;"></textarea>
                            <label for="passwordTextE">Password Text</label>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit">Encrypt</button>
                        </div>
                        <div class="form-floating mt-4">
                            <textarea class="form-control" id="encryptedText" name="encryptedText" placeholder="Encrypted Text" style="height: 100px;" disabled>{{ encrypted_text }}</textarea>
                            <label for="encryptedText">Encrypted Text</label>
                        </div>
                        <button type="button" class="btn btn-outline-secondary mt-2 copy-btn" data-copy-target="#encryptedText">Copy</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}
