Flask>=2.2.5
Jinja2==3.0.1
MarkupSafe==2.1.5
pyserial==3.5
Werkzeug>=2.2.2
itsdangerous==2.1.2
click==8.1.7
python-decouple
Flask-Migrate
Flask-Login
Flask_wtf
python-dotenv
email_validator
Flask-Testing
coverage
Flask-SQLAlchemy
Flask-Script
Flask-Bcrypt
Flask-Mail
Flask-Admin
Flask-User
Flask-Bootstrap
Flask-Moment
Flask-Session
Flask-Cors
Flask-JWT-Extended
Flask-RESTful
Flask-SocketIO
gunicorn
psycopg2-binary
celery