{% extends "template.html" %}

{% block custom_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom_style.css') }}">
{% endblock %}

{% block content %}
<div class="alert alert-info border-left-4" role="alert">
    <strong>Note:</strong> This application uses Python dictionaries for data storage, meaning all information is stored in memory. To clear session data without restarting the app, consider using an <strong>Incognito Window</strong> or <strong>Private Browsing Mode</strong>. This approach is ideal for testing or demonstration purposes.
</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h4 class="mb-0">Please Sign In</h4>
                </div>
                <div class="card-body">
                    <form role="form" method="post" action="" novalidate>
                        {{ form.csrf_token }}
                        <div class="mb-5">
                            {{ form.username.label(class="form-label") }}
                            <input id="username" type="text" class="form-control" name="username" placeholder="Enter your username" required autocomplete="username">
                            {% if form.username.errors %}
                                {% for error in form.username.errors %}
                                <div class="alert alert-danger" id="usernameError">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="mb-5">
                            {{ form.password.label(class="form-label") }}
                            <input id="password" type="password" class="form-control" name="password" placeholder="Enter your password" required autocomplete="current-password">
                            {% if form.password.errors %}
                                {% for error in form.password.errors %}
                                <div class="alert alert-danger" id="passwordError">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary w-100 mb-2" id="loginButton">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
