{% extends "template.html" %}

{% block custom_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom_style.css') }}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white text-center">
                    <h2 class="mb-0">Update Password</h2>
                </div>
                <div class="card-body p-4">
                    <form role="form" method="post" action="" novalidate>
                        {{ form.csrf_token }}
                        <div class="form-floating mb-3">
                            {{ form.old_password.label(class="form-label") }}
                            {{ form.old_password(class="form-control", placeholder="Old Password") }}
                            {% if form.old_password.errors %}
                                <div class="alert alert-warning mt-2">
                                    {% for error in form.old_password.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.new_password.label(class="form-label") }}
                            {{ form.new_password(class="form-control", placeholder="New Password must be between 8 and 20 characters long.") }}
                            {% if form.new_password.errors %}
                                <div class="alert alert-warning mt-2">
                                    {% for error in form.new_password.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary w-100 btn-lg mb-2">Update Password</button>
                        <div class="text-center">
                            <a href="{{ url_for('accounts.login') }}" class="text-muted">Return to Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
