<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <span class="h5">Password Manager</span>
      {% if current_user.is_authenticated %}
      <div>
        <a href="{{ url_for('accounts.update_password') }}" class="btn btn-outline-light me-2 btn-sm">Update Password</a>
        <a href="{{ url_for('core.encrypt') }}" class="btn btn-success me-2 btn-sm">Encrypt</a>
        <a href="{{ url_for('core.decrypt') }}" class="btn btn-info me-2 btn-sm">Decrypt</a>
        <a href="{{ url_for('core.list') }}" class="btn btn-warning me-2 btn-sm">List</a>
        <a href="{{ url_for('accounts.logout') }}" class="btn btn-danger btn-sm">Logout</a>
      </div>
      {% endif %}
    </div>
  </div>
</header>
