.close-btn {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  color: #ff2600;
  top: 0px;
  right: 0px;
}


#state_info{
	width: 360px;
}

.co1x {
	width: 480px;
	padding: 15px;
	margin: 15px;
}

#file-upload-form {
	padding: 15px;
}

#startmove{
	padding-top: 15px;
}

#detectinput{
	padding-top: 15px;
	padding-right: 15px;
}

.error {
  color: red;
  margin-bottom: 5px;
  text-align: center;
}

#rightButton {
  position: fixed;
  right: 975px; /* Adjust as needed */
  width: 100px;
}


a {
  text-decoration: none;
}

.bg-custom-gray {
  background-color: #cacaca; /* Replace with your desired gray color code */
}

/* #message_area {
	position: relative;
  border-style: solid;
  border-color: gainsboro;
  width: 300px;
  padding: 10px;
  background-color: ghostwhite;

} */